@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
footer{
    font-size: larger;
}
/*English*/
.info2 h3{ 
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    padding-top: 56px;
    margin-bottom: 15px;
}
.english {
	position: absolute;
top: 49%;
	left: 16%;
	transform: translate(-50%, -50%);
	width: 300px;
	
	
}

.eng {
	border: 2px solid white;
	background-color: 00FFFFFF;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	height: 15px;
	text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 8%;
	padding-right: 8%;
    width: 100%;
   min-width: 50px; 
   max-width: 300px; 

}

.english :hover {
	background-color:#959595;
	color: white;
	border: 2px solid white;
	transition: all 0.8s ease;
}
/*--------------------Computer-------------------- */
.info6 h3{ 
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    padding-top: 65px;
    margin-bottom: 15px;
}
.computer {
	position: absolute;
top: 113%;
	left: 16%;
	transform: translate(-50%, -50%);
	width: 300px;
	
	
}

.comp {
	border: 2px solid white;
	background-color: 00FFFFFF;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	height: 15px;
	text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 8%;
	padding-right: 8%;
	
    width: 100%;
   min-width: 50px; 
   max-width: 300px; 

}

.computer :hover {
	background-color:#959595;
	color: white;
	border: 2px solid white;
	transition: all 0.8s ease;
}
/*--------------------Social-------------------- */

.info4 h3{ 
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    padding-top: 65px;
    margin-bottom: 15px;
}
.social {
	position: absolute;
top: 81%;
	left: 16%;
	transform: translate(-50%, -50%);
	width: 300px;
	
	
}

.sst {
	border: 2px solid white;
	background-color: 00FFFFFF;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	height: 15px;
	text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 8%;
	padding-right: 8%;
    width: 100%;
   min-width: 50px; 
   max-width: 300px; 

}

.social :hover {
	background-color:#959595;
	color: white;
	border: 2px solid white;
	transition: all 0.8s ease;
}
/*--------------------Nepali-------------------- */
.info5 h3{ 
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    padding-top: 65px;
    margin-bottom: 15px;
}
.nepali {
	position: absolute;
top: 97%;
	left: 16%;
	transform: translate(-50%, -50%);
	width: 300px;
	
	
}

.nep {
	border: 2px solid white;
	background-color: 00FFFFFF;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	height: 15px;
	text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 8%;
	padding-right: 8%;
    width: 100%;
   min-width: 50px; 
   max-width: 300px; 

}

.nepali :hover {
	background-color:#959595;
	color: white;
	border: 2px solid white;
	transition: all 0.8s ease;
}
/*--------------------Maths-------------------- */
.info3 h3{ 
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    padding-top: 65px;
    margin-bottom: 15px;
}
.mathematics {
	position: absolute;
top: 64%;
	left: 16%;
	transform: translate(-50%, -50%);
	width: 300px;
	
	
}

.maths {
	border: 2px solid white;
	background-color: 00FFFFFF;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	height: 15px;
	text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 8%;
	padding-right: 8%;
    width: 100%;
   min-width: 50px; 
   max-width: 300px; 

}

.mathematics :hover {
	background-color:#959595;
	color: white;
	border: 2px solid white;
	transition: all 0.8s ease;
}
/*--------------------Science-------------------- */
.science {
	position: absolute;
top: 34%;
	left: 16%;
	transform: translate(-50%, -50%);
	width: 300px;
	
	
}

.sci {
	border: 2px solid white;
	background-color: 00FFFFFF;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	height: 15px;
	text-decoration: none;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 8%;
	padding-right: 8%;
    width: 100%;
   min-width: 50px; 
   max-width: 300px; 

}

.science :hover {
	background-color:#959595;
	color: white;
	border: 2px solid white;
	transition: all 0.8s ease;
}


.info1 h3{ 
    color: #fff;
    font-family: monospace;
    font-size: 20px;
    padding-top: 13px;
    margin-bottom: 15px;
}

.dropbtn {
    background-color: crimson;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 80%;
    margin-top:10vh;
    margin-top: 60%;
  
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 6px;
  padding-top: 6px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: center;

  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
footer{
     
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    position:absolute;
    bottom:0px;
    width:100%;
  
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
footer .firstfooter{
    float: left;
}
footer .secondfooter{
    float: right;
}
/* navbar styling */
.navbar button{
    background: crimson;
    border-radius: 10px;
    border: 1px solid crimson;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
   margin-left: 10px;
   cursor: pointer;
}
.navbar button:hover{
    background-color: #141414;
    transition: 0.6ms ease;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 15px 0;
    background: #141414;
  }
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}






.content p{
	width: 250px;
	line-height: 26px;
	font-size: 18px;
	text-align: justify;
  }
  
  .cursor{
	position: fixed;
	width: 30px;
	height: 30px;
	border: 1px solid skyblue;
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: .1s;
  }
  
  .cursor2{
	position: fixed;
	width: 8px;
	height: 8px;
	background-color: #c6c6c6;
	border-radius: 50%;
	left: 0;
	top: 0;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: .15s;
  }
  
  .content:hover ~ .cursor{
	transform: translate(-50%, -50%) scale(1.5);
	background-color: #c6c6c6;
	opacity: .5;
  }
  
  .content:hover ~ .cursor2{
	opacity: 0;
  }
  .box ol li {
	position: absolute;
	width: 35px;
	height: 35px;
	list-style: none;
	opacity: 0;
	background: radial-gradient(deepskyblue, transparent, transparent);
	bottom: 0;
	left: 10vw;
	animation: animate 15s linear infinite;
}
.box ol li:nth-child(2) {
	left: 36vw;
	animation-delay: 2s;
}
.box ol li:nth-child(3) {
	left: 22vw;
	animation-delay: 4s;
}
.box ol li:nth-child(4) {
	left: 56vw;
	animation-delay: 6s;
}
.box ol li:nth-child(5) {
	left: 76vw;
	animation-delay: 4s;
}
.box ol li:nth-child(6) {
	left: 80vw;
	animation-delay: 8s;
}
@keyframes animate {
	0% {
		transform: scale(0);
		opacity: 1;
		bottom: 0;
	}
	100% {
		transform: scale(10);
		opacity: 0;
		bottom: 100vh;
	}
}
